language: go
go:
  - 1.2
  - 1.3
  - tip

install:
  - go get -v github.com/onsi/ginkgo/ginkgo
  - go get -v github.com/onsi/gomega
  - go get -v code.google.com/p/go.tools/cmd/cover
  - go get -v -t ./...
  - export PATH=$PATH:$HOME/gopath/bin

script: ginkgo -r --randomizeAllSpecs --randomizeSuites --cover --trace --race
